:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:  var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}

/* Section 1: Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img {
    width: 350px;
    border-radius: 10%;

}

/* Section 2: Skills */
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2{
    text-align: center;
    font-size: 35px;
}

.skills-section .text {
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    padding: 10px 20px;
    margin: 20px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
}

.skills-section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.skills-section .cells .cell span{
    font-size: 15.5px;
}

/* Section 3: Projects*/
.project-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.project-section h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.project-section .group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 50px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.project-section .group .project-details {
    text-align: center;
    flex: 2;
}

.project-section .group .project-details .overlay-text{
    position: relative;
}

.project-section .group .project-details .hover-text {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
    background: rgba(110, 3, 94, 0.85); /* dark magenta overlay */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.project-section .group .project-details img {
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    flex-direction: column;
    display: block;
    margin: auto
}

.project-section .group .project-details:hover .hover-text {
    opacity: 1;
} 

.project-section .group .project-details p {
    /* font-weight: 600; */
    margin-bottom: 20px;
    font-size: 15px;
}

.project-section .group .project-details h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.project-section .group .project-details p:last-child {
    font-weight: normal;
}

/* Section 4: Experience */
.experience-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.experience-section h2{
    font-size: 35px;
}



@media (max-width: 850px) {
    /* Section 1: Hero */
    .hero-section .text h2 {
        font-size: 35px;
    }
}

@media (max-width: 740px) {
    /* Section 1: Hero */
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .headshot img{
        width: 300px;
    }

    /* Section 3: Projects */
    .project-section {
        text-align: center;
    }

    .project-section .group {
        flex-direction: column;
    }

    /* Section 4: Experience */
    .experience-section .group {
        flex-direction: column;
    }

}

@media (max-width: 600px) {
    /* NAVBAR */
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }

    /* Section 1: Hero */
    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size: 30px;
    }

    /* Section 2: Skills */
    .skills-section {
        padding: 0 20px;
    }

    .skills-section .cells .cell span {
        font-size: 16px;
    }

    /* Section 3: Projects */
    .projet-section .group {
        padding: 0 20px;
    }

    /* Section 4: Contacts */
    .experience-section .group {
        padding: 0 20px;
    }
}
